{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}
  {% block stylesheets %}
      <link href="{{ asset('css/style.css') }}" type="text/css" rel="stylesheet">
      {{ encore_entry_link_tags('app') }}
  {% endblock %}


{% block body %}
    <h1>Register</h1>
    {{ form_start(registrationForm) }}
<div class="container-fluid ">
    <div class="row d-flex justify-content-center  border">
        <div class="col-lg-5 col-md-6 col-sm-12 mb-2 mt-5 text-center mx-auto">
            {{ form_row(registrationForm.email) }}
        </div>
        <div class="col-lg-5 col-md-6 col-sm-12 mb-2 text-center mx-auto">
            {{ form_row(registrationForm.plainPassword, {label: 'Password'}) }}
        </div>
        <div class="col-lg-5 col-md-6 col-sm-12 mb-2  text-center mx-auto">
            {{ form_row(registrationForm.agreeTerms) }}<br/>
            <button type="submit" class="btn btn-info">Register</button>

        </div>
        </div>
    </div>
</div>

    {{ form_end(registrationForm) }}

{% endblock %}
